@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


a{
    text-decoration: none;
    color: black;
}
body{
    background-color:  #f5f6f7;
}

/*div 시작*/
#MainLogin_div{
    width: 520px;
    height: 640px;
    margin-left: 40%;
    margin-top: 70px;
   border:1px solid #9e9d9d;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%); 

}
/*이미지 div*/
div>div:nth-of-type(1){
    margin-top: 60px;
    margin-bottom: 30px;
    display: inline-block;
    height: 30px;

}
div>div>a>img{
    width: 22px;
    height: 18px;
    margin-left: 20px;
}

/*도서추천 사이트 div*/
div>div:nth-of-type(2){
    height: 60px;
    text-align: center;
}
div>div:nth-of-type(2) P{
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #20407b;
    font-weight: 700;

}



div>div:nth-of-type(3){
    
    text-align: center;
    padding: 40px 28px ;
    margin-top: 48px;
    margin-bottom: 40px;
    margin-left: 30px;
  /**
    border: 1px solid #9e9d9d;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
    border-radius: 10px 10px 10px 10px;
    **/

    width: 400px;
    
}
div>div>form>input[type=text]{
    width: 300px;
    height: 24px;
    padding: 14px 17px 13px;
    border: 1px solid #9e9d9d;
    border-radius: 5px 5px 0px 0px;
    
    font-size: 16px;
    
    
}
div>div>form>input[type=password]{
    width: 300px;
    height: 24px;
    padding: 14px 17px 13px;

    border: 1px solid #9e9d9d;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 30px;

    font-size: 16px;
}
div>div>form>input[type=submit]{
    width: 330px;
    height: 55px;
    padding: 13px;
    
    border: 1px solid #20407b;
    border-radius: 10px 5px 5px 10px;
    background-color: #20407b;
    
    color: white;
    font-size: 20px;

    cursor: pointer;
    

}
/*table div  */

div>div:nth-of-type(4){
    text-align: center;
    
}
div>div>table{
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 1px solid #f8f9fa;

}
div>div>table td{
    border: 1px solid none;
    
    padding-right: 15px;
    padding-left: 15px;
}

div>div>table td>a{
    color:#4d4d4d;
}
div>div>table td:nth-of-type(3){
	border-right: 1px solid #9e9d9d;
}
div>div>table td:nth-of-type(4){
	border-right: 1px solid #9e9d9d;
}
/*footer부분*/
div>div:nth-of-type(5){
    text-align: center;
    display: inline-block;
    width: 460px;

}
hr{
    border: 1px solid #bbbbbb
}


div>div:nth-of-type(5) p{
    font-family: 'Nanum Gothic', sans-serif;
    color: #575757;
}
